[Desktop Entry]
Name=GreatSPN Editor
Exec=greatspn_editor %F
Icon=pnpro-editor
Terminal=false
Type=Application
Categories=Development;Science;Math;
Comment=The GreatSPN Editor.
